{% extends 'base.html' %}
{% load i18n %}

{% load static %}

{% block title %}{% trans "Log Out" %}{% endblock %}

{% block additional_head %}
    <meta name="robots" content="noindex, nofollow" />
{% endblock %}

{% block content %}

<div class="user-action-container flex">

  <div class="side-cover">
      <div class="side-image"></div>
  </div>

  <div class="user-info flex flex-col flex-center">

      <div class="user-info-text text-center">
          <h1 class="text-lg p-4">{% trans "Log Out" %}</h1>
          <p>{% trans "You have been successfully logeed out." %}</p>
          <p>{% trans "You can log in again " %}<a class="user-link" href="{% url 'login' %}">{% trans " here" %}</a></p>
      </p>
      </div>

  </div>  
  
</div>

{% endblock content %}