{% extends 'base.html' %}
{% load i18n %}

{% load static %}

{% block title %}{% trans "Reset your password" %}{% endblock %}

{% block additional_head %}
    <meta name="robots" content="noindex, nofollow" />
{% endblock %}

{% block content %}
<div class="user-action-container flex">

    <div class="side-cover">
        <div class="side-image"></div>
    </div>

    <div class="user-info flex flex-col flex-center">

        <div class="user-info-text text-center">
            <h1 class="text-lg p-4">{% trans "Forgotten your password?" %}</h1>
            <p class="">{% trans "Enter your e-mail to obtain a new password." %}</p>
        </div>

        <form class="form-box" method="post">
                {% csrf_token %}
                <div class="form-group flex flex-col">
                    {{ form.non_field_errors }}
                </div>
                <div class="form-group flex flex-col">
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <strong class="text-center">{{ error|escape }}</strong>
                            {% endfor %}
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="form-group flex flex-col text-center">
                    <p class="form-control">
                        <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
                    </p>
                </div>
                <div class="form-group flex flex-col text-center">
                    <button type="submit" class="btn">{% trans 'Send E-mail' %}</button> 
                </div>
            
        </form>
    </div>  
    
</div>
    
{% endblock content %}