{% extends 'base.html' %}
{% load thumbnail %}
{% load rose_tags %}
{% load i18n %}


{% block title %}{% trans "User's articles written" %}{% endblock title %}

{% block additional_head %}
    <meta name="robots" content="noindex, nofollow" />
{% endblock %}

{% block content %}

<div class="profile-info flex">
  {% if request.user.is_authenticated %}

  <div class="side-left flex flex-col flex-center">
    {% include "account/user/user_links.html" %}
  </div>

  <div class="main-content flex flex-col">

    <h1 class="text-center"> {% trans "Photos I've posted" %}</h1>

    <div class="people-list flex flex-row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-xl-4">
        {% for article in articles %}
            <div>
            {{ article.title }}
            </div>
            
        {% endfor %}
    </div>

    {% include "pagination.html" with page=articles %}

  </div>


  <div class="side-right flex flex-col flex-center">

    <h2 class="side-right-header text-center">{% trans "What's new?" %}</h2>
    <div id="action-list flex flex-col">
      {% for action in actions %}
        {% include "actions/action/detail.html" %}
      {% endfor %}
    </div>

  </div>

  {% endif %}

</div>   
{% endblock content %}
