{% extends 'base.html' %}
{% load embed_video_tags %}
{% load thumbnail %}
{% load rose_tags %}
{% load i18n %}


{% block title %}{% trans "User's Videos" %}{% endblock title %}

{% block additional_head %}
    <meta name="robots" content="noindex, nofollow" />
{% endblock %}

{% block content %}

<div class="profile-info flex">
  {% if request.user.is_authenticated %}

  <div class="side-left flex flex-col flex-center">
    {% include "account/user/user_links.html" %}
  </div>

  <div class="main-content flex flex-col">

    <h1 class="text-center p-2"> {% trans "Videos I've posted" %}</h1>

    <div class="roses-list-container">
      {% for my_video in videos %}
      <div class="rose-item">
          <div>
            {% video my_video.link as my_video %}
              {% video my_video '100% x 100%' %}
            {% endvideo %}
          </div>
          <div class="photo-box-description">
            <strong>{% trans "Title:" %}</strong> {{ my_video.title }}
          </div>
      </div>
      {% endfor %}
    </div>

    {% include "pagination.html" with page=videos %}
  </div>


  <div class="side-right flex flex-col flex-center">

    <h2 class="side-right-header text-center">{% trans "What's new?" %}</h2>
    <div id="action-list flex flex-col">
      {% for action in actions %}
        {% include "actions/action/detail.html" %}
      {% endfor %}
    </div>

  </div>

  {% endif %}

</div>   
{% endblock content %}
